.human{
  background-color: #fff;
  font-size: 25px;
  border-radius: 20px;
  color: #000;
  border: 1px solid #fff;
  font-weight: 500;
}

.human:hover{
  background-color: #3f3a64;
  transition: all .3s;
  /* opacity: .8; */
  border: 0px;
  color: #fff;
}
